/* //////////////// */

/*! nouislider - 14.6.1 - 8/17/2020 */
.noUi-target,
.noUi-target * {
   -webkit-touch-callout: none;
   -webkit-tap-highlight-color: transparent;
   -webkit-user-select: none;
   -ms-touch-action: none;
   touch-action: none;
   -ms-user-select: none;
   -moz-user-select: none;
   user-select: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.noUi-target {
   position: relative;
}
.noUi-base,
.noUi-connects {
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 1;
}
.noUi-connects {
   overflow: hidden;
   z-index: 0;
}
.noUi-connect,
.noUi-origin {
   will-change: transform;
   position: absolute;
   z-index: 1;
   top: 0;
   right: 0;
   -ms-transform-origin: 0 0;
   -webkit-transform-origin: 0 0;
   -webkit-transform-style: preserve-3d;
   transform-origin: 0 0;
   transform-style: flat;
}
.noUi-connect {
   height: 100%;
   width: 100%;
}
.noUi-origin {
   height: 10%;
   width: 10%;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
   left: 0;
   right: auto;
}
.noUi-vertical .noUi-origin {
   width: 0;
}
.noUi-horizontal .noUi-origin {
   height: 0;
}
.noUi-handle {
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   position: absolute;
}
.noUi-touch-area {
   height: 100%;
   width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
   -webkit-transition: transform 0.3s;
   transition: transform 0.3s;
}
.noUi-state-drag * {
   cursor: inherit !important;
}
.noUi-horizontal {
   height: 18px;
}
.noUi-horizontal .noUi-handle {
   width: 34px;
   height: 28px;
   right: -17px;
   top: -6px;
}
.noUi-vertical {
   width: 18px;
}
.noUi-vertical .noUi-handle {
   width: 28px;
   height: 34px;
   right: -6px;
   top: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
   left: -17px;
   right: auto;
}
.noUi-target {
   background: #fafafa;
   border-radius: 4px;
   border: 1px solid #d3d3d3;
   box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}
.noUi-connects {
   border-radius: 3px;
}
.noUi-connect {
   background: #3fb8af;
}
.noUi-draggable {
   cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
   cursor: ns-resize;
}
.noUi-handle {
   border: 1px solid #d9d9d9;
   border-radius: 3px;
   background: #fff;
   cursor: default;
   box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}
.noUi-active {
   box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}
.noUi-handle:after,
.noUi-handle:before {
   content: "";
   display: block;
   position: absolute;
   height: 14px;
   width: 1px;
   background: #e8e7e6;
   left: 14px;
   top: 6px;
}
.noUi-handle:after {
   left: 17px;
}
.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
   width: 14px;
   height: 1px;
   left: 6px;
   top: 14px;
}
.noUi-vertical .noUi-handle:after {
   top: 17px;
}
[disabled] .noUi-connect {
   background: #b8b8b8;
}
[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
   cursor: not-allowed;
}
.noUi-pips,
.noUi-pips * {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.noUi-pips {
   position: absolute;
   color: #999;
}
.noUi-value {
   position: absolute;
   white-space: nowrap;
   text-align: center;
}
.noUi-value-sub {
   color: #ccc;
   font-size: 10px;
}
.noUi-marker {
   position: absolute;
   background: #ccc;
}
.noUi-marker-sub {
   background: #aaa;
}
.noUi-marker-large {
   background: #aaa;
}
.noUi-pips-horizontal {
   padding: 10px 0;
   height: 80px;
   top: 100%;
   left: 0;
   width: 100%;
}
.noUi-value-horizontal {
   -webkit-transform: translate(-50%, 50%);
   transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
   -webkit-transform: translate(50%, 50%);
   transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
   margin-left: -1px;
   width: 2px;
   height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
   height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
   height: 15px;
}
.noUi-pips-vertical {
   padding: 0 10px;
   height: 100%;
   top: 0;
   left: 100%;
}
.noUi-value-vertical {
   -webkit-transform: translate(0, -50%);
   transform: translate(0, -50%);
   padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
   -webkit-transform: translate(0, 50%);
   transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
   width: 5px;
   height: 2px;
   margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
   width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
   width: 15px;
}
.noUi-tooltip {
   display: block;
   position: absolute;
   border: 1px solid #d9d9d9;
   border-radius: 3px;
   background: #fff;
   color: #000;
   padding: 5px;
   text-align: center;
   white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
   -webkit-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
   left: 50%;
   bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
   -webkit-transform: translate(0, -50%);
   transform: translate(0, -50%);
   top: 50%;
   right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
   -webkit-transform: translate(50%, 0);
   transform: translate(50%, 0);
   left: auto;
   bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
   -webkit-transform: translate(0, -18px);
   transform: translate(0, -18px);
   top: auto;
   right: 28px;
}
/* ///////////////// */

.text-18-500 {
   color: #333;
   font-family: "Montserrat", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-align: center;
   vertical-align: center;
}
.text-14-500 {
   color: #333;
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-align: center;
   vertical-align: center;
}

.text-24-700 {
   color: #333;
   font-family: "Lato", sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%; /* 33.6px */
}

.text-18-700 {
   color: #333;
   font-family: "Lato", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%; /* 33.6px */
}

.main-content-catalog {
   width: 100vw;
   max-width: 1200px;
}

.t-o-s {
   margin-left: 0;
   margin-top: 30px;
   margin-bottom: 54px;
}
.nav-catalog {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   list-style: none;
   color: #333;
   text-align: center;
   font-family: "Lato", sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 25.2px */
}

.nav-catalog li {
   padding: 10px 24px 12px 24px;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.active-category {
   border-radius: 30px;
   border: 2px solid #ffc93a;
}

.hide-filters-cat {
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
}
.title-of-section-catalog-page {
   color: #333;
   text-align: left;
   font-family: Montserrat Alternates;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   width: max-content;
}
.title-of-section-catalog-page h1 {
   width: max-content;
   font-size: 48px;
}
.hide-filter-btn {
   display: flex;
   padding: 11px 24px 12px 24px;
   align-items: center;
   border: 2px solid #ffc93a;
   border-radius: 40px;
   gap: 8px;
   text-align: center;
}
.hide-filter-btn img {
   width: 16px;
}
.popular-filter-btn {
   display: flex;
   justify-content: space-between;
   width: 310px;
   padding: 1px 1px 1px 20px;
   align-items: center;
   border-radius: 30px;
   border: 1px solid #ccccd0;
   background: #fff;
}
.popular-filter-btn div {
   display: flex;
   padding: 15px 23px 16px 23px;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
   background: #ffc93a;
}

.catalog-container {
   margin-top: 20px;
   display: flex;
   gap: 20px;
}

.cpoduct-zone-cat {
   display: grid;
   gap: 10px;
   margin-bottom: 15px;
}
.in-stock-discription {
   background: #ffc93a;
   padding: 14px 32px 16px 32px;
   align-items: center;
   border-radius: 20px;

   font-family: Lato, sans-serif;
   font-size: 12.806px;
}
.in-stock-catalog {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.show-more-btn-catalog {
   display: flex;
   width: 310px;
   padding: 14px 32px 16px 32px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-radius: 30px;
   background: #ffc93a;
   margin: 45px auto 20px;

   border-radius: 14.229px;
   border: 0.711px solid #ccccd0;
}
.filters-container-catalog {
   width: 222px;
}

.catalog-filter-section {
   display: flex;
   width: 100%;
   padding: 14px;
   flex-direction: column;
   align-items: flex-start;
   gap: 25.612px;
   margin: 0;

   color: #333;
   font-family: Lato, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 19.6px */

   border-radius: 14.229px;
   border: 1px solid #ccccd0;
   margin-top: 24px;
}
.catalog-filter-section p {
   color: #333;
   font-family: Lato, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%; /* 19.6px */
}
.catalog-filter-section > div {
   position: relative;
   width: 100%;
}
.catalog-filter-section > div:not(:last-child)::before {
   content: "";
   position: absolute;
   width: 90%;
   height: 2px;
   background: #ccccd0;
   bottom: 0;
   opacity: 0.5;
   transform: translateX(5%);
}
.catalog-input-container p {
   margin-bottom: 15px;
}

.checkbox-container_catalog div > input:checked::before {
   content: url(../assets/icon/check.svg);
   display: block;
   text-align: center;
   font-size: 16px;
   line-height: 18px;
   color: white;
   position: absolute;
   top: -1px;
   left: 50%;
   transform: translateX(-50%);
}
.checkbox-container_catalog div > input {
   position: relative;
}

.filter-container-catalog {
   margin: 0;
   gap: 20px;

   color: #000;
   font-family: "Montserrat", sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.checkbox-container_catalog {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;
}
.checkbox-container_catalog label {
   margin-left: 10px;
}
.show-more-filter-catalog {
   /* opacity: 0.5; */
   margin-bottom: 20px;
   font-family: Lato, sans-serif;
   font-size: 14px;
   color: #ccccd0;
}
.button-reset-filter-catalog-page {
   display: flex;
   padding: 9px 24px 11px 24px;
   justify-content: center;
   align-items: center;
   gap: 7px;
   align-self: stretch;

   border-radius: 20px;
   border: 1.5px solid #ffc93a;
   background: #fff;

   font-family: Lato, sans-serif;
   font-size: 14px;
}
.hide-filter-text-btn {
   gap: 4px;
   align-items: center;

   color: #333;
   font-family: Lato, sans-serif;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
}
#price-slider {
   width: 90%;
   margin: 0 auto;
}

#price-values {
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
   margin-bottom: 15px;
   width: 200px;
}

#input-max {
   background: #f4f4f8;
   border-radius: 0px 7.115px 7.115px 0px;
   border-top: 0.711px solid #ccccd0;

   border-right: 0.711px solid #ccccd0;

   border-bottom: 0.711px solid #ccccd0;
   border-left: none;
   width: 49%;
   padding: 7px 15px;
}
#input-min {
   background: #f4f4f8;
   border-radius: 7.115px 0 0 7.115px;
   border-top: 0.711px solid #ccccd0;

   border-left: 0.711px solid #ccccd0;

   border-bottom: 0.711px solid #ccccd0;
   border-right: none;
   width: 49%;
   padding: 7px 15px;
}

/* Добавленные стили для кружочков */
.noUi-horizontal .noUi-handle {
   width: 12px;
   height: 12px;
   border: 1px solid #000;
   border-radius: 50%;
   background-color: #fff;
   cursor: grab;
   z-index: 2;
   overflow: hidden;
   right: -3px;
}
.noUi-horizontal {
   height: 1px;
}
.noUi-connect {
   background: #000;
}
.noUi-target {
   border: none;
   background: gray;
}

/* Удаление before и after у .noUi-handle */
.noUi-handle::before,
.noUi-handle::after {
   content: none;
}

.noUi-active {
   cursor: grabbing;
}
.noUi-touch-area {
   background-color: #fff;
   z-index: 1;
}
