.text-18-500 {
   color: #333;
   font-family: Montserrat;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-align: center;
   vertical-align: center;
}

.text-24-700 {
   color: #333;
   font-family: Lato;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%; /* 33.6px */
}

.main-content-catalog {
   width: 100vw;
   max-width: 1300px;
}

.t-o-s {
   margin-left: 0;
   margin-top: 30px;
   margin-bottom: 54px;
}
.nav-catalog {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   list-style: none;
   color: #333;
   text-align: center;
   font-family: Lato;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 25.2px */
}

.nav-catalog li {
   padding: 14px 32px 16px 32px;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.active-category {
   border-radius: 30px;
   border: 2px solid #ffc93a;
}

.hide-filters-cat {
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
}
.hide-filter-btn {
   display: flex;
   padding: 14px 32px 16px 32px;
   align-items: center;
   border: 2px solid #ffc93a;
   border-radius: 40px;
   gap: 8px;
   text-align: center;
}
.hide-filter-btn img {
   width: 24px;
}
.popular-filter-btn {
   display: flex;
   justify-content: space-between;
   width: 310px;
   padding: 1px 1px 1px 20px;
   align-items: center;
   border-radius: 30px;
   border: 1px solid #ccccd0;
   background: #fff;
}
.popular-filter-btn div {
   display: flex;
   padding: 23px 32px 23px 32px;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
   background: #ffc93a;
}

.catalog-container {
   margin-top: 20px;
   display: flex;
   gap: 20px;
}

.cpoduct-zone-cat {
   display: grid;
   gap: 10px;
   margin-bottom: 15px;
}
.in-stock-discription {
   background: #ffc93a;
   width: 970px;
   padding: 14px 32px 16px 32px;
   align-items: center;
   border-radius: 20px;
}
.in-stock-catalog {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.show-more-btn-catalog {
   display: flex;
   width: 310px;
   padding: 14px 32px 16px 32px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-radius: 30px;
   background: #ffc93a;
   margin: 45px auto 20px;

   border-radius: 14.229px;
   border: 0.711px solid #ccccd0;
}
.filters-container-catalog {
   width: 310px;
}

.catalog-filter-section {
   display: flex;
   width: 228px;
   padding: 14px;
   flex-direction: column;
   align-items: flex-start;
   gap: 25.612px;
   margin: 0;

   color: #333;
   font-family: Lato, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 19.6px */

   border-radius: 14.229px;
   border: 1px solid #ccccd0;
   margin-top: 24px;
}
.catalog-filter-section p {
   color: #333;
   font-family: Lato, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%; /* 19.6px */
}
.catalog-input-container p {
   margin-bottom: 15px;
}
.filter-container-catalog {
   margin: 0;
   gap: 20px;

   color: #000;
   font-family: Montserrat;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.checkbox-container_catalog {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;
}
.checkbox-container_catalog label {
   margin-left: 10px;
}

#price-slider {
   width: 90%;
   margin: 0 auto;
}

#price-values {
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
   margin-bottom: 15px;
   width: 200px;
}
#price-min,
#price-max {
   /* display: none; */
}
#input-max {
   background: #f4f4f8;
   border-radius: 0px 7.115px 7.115px 0px;
   border-top: 0.711px solid #ccccd0;

   border-right: 0.711px solid #ccccd0;

   border-bottom: 0.711px solid #ccccd0;
   border-left: none;
   width: 49%;
   padding: 7px 15px;
}
#input-min {
   background: #f4f4f8;
   border-radius: 7.115px 0 0 7.115px;
   border-top: 0.711px solid #ccccd0;

   border-left: 0.711px solid #ccccd0;

   border-bottom: 0.711px solid #ccccd0;
   border-right: none;
   width: 49%;
   padding: 7px 15px;
}

/* Добавленные стили для кружочков */
.noUi-horizontal .noUi-handle {
   width: 12px;
   height: 12px;
   border: 1px solid #000;
   border-radius: 50%;
   background-color: #fff;
   cursor: grab;
   z-index: 2;
   overflow: hidden;
   right: -3px;
}
.noUi-horizontal {
   height: 1px;
}
.noUi-connect {
   background: #000;
}
.noUi-target {
   border: none;
   background: gray;
}

/* Удаление before и after у .noUi-handle */
.noUi-handle::before,
.noUi-handle::after {
   content: none;
}

.noUi-active {
   cursor: grabbing;
}
.noUi-touch-area {
   background-color: #fff;
   z-index: 1;
}
