@media (min-width: 1920px) {
   .slider-five-section-5 {
      display: none;
   }
}
@media (max-width: 1919px) {
   .seven-section {
      width: 100vw;
      padding: 20px;
   }
   .slider-five-section-vision {
      display: none;
   }
   #card-reserve {
      width: 630px;
      flex-shrink: 0;
      border-radius: 20px;
      background: #e8eafb;
      position: relative;
      text-align: left;
      padding: 20px;
      overflow: hidden;
   }
   #card-reserve p {
      margin: 0 0 16px 0;
      font-family: Montserrat Alternates, sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 48px */
   }
   #card-reserve span {
      font-family: Lato, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 33.6px */
   }
   #card-reserve button {
      margin-top: 20px;
   }
   .gold-balls-img {
      position: absolute;
      right: -60px;
      bottom: 0px;
   }
}

@media (min-width: 1701px) {
   .search-icon-list-h,
   .number-headr-yellow,
   .search-icon-list-h {
      display: none;
   }

   .icun-list-h li:nth-child(2) {
      display: none;
   }
   .columns-footer > div:nth-last-child(1) {
      width: 287px;
   }
}

@media (max-width: 1700px) {
   .cur-pointer,
   .input-zone-1920 {
      display: none;
   }
   .nav-shop {
      width: calc(100vw - 65px);
      white-space: nowrap;
      overflow-x: hidden;
      margin: 40px auto 0;
   }
   .shop-take-rent {
      width: 100vw;
      justify-content: space-evenly;
      padding: 0 15px;
      max-width: 1350px;
   }
   .second-section {
      width: 100vw;
   }

   .map-map-s1 {
      width: calc(100vw - 40px);
   }
   .first-section {
      width: 100vw;
   }
   h1 {
      width: calc(100vw - 40px);
      font-size: 58px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 69.6px */
      margin: 0 auto;
   }
   .title-of-section-news-page h1 {
      width: 90vw;
      margin: 0;
      text-align: left;
   }
   .burger {
      width: 40px;
      height: 22px;
      position: relative;
      z-index: 2;
      overflow: hidden;
   }
   .burger span {
      width: 40px;
      height: 2px;
      position: absolute;
      top: 50%;
      background: #fff;
      transition: all 0.2s;
      left: 0;
   }
   .burger span:nth-of-type(2) {
      top: calc(50% - 8px);
   }
   .burger span:nth-of-type(3) {
      top: calc(50% + 8px);
   }

   .header-1920-list {
      display: none;
   }
   .number-header-yellow {
      margin: 0;
   }
   .search-header-1920 {
      display: none !important;
   }
   .zero-block-header {
      width: 0px;
   }

   h2,
   .shadow-moscow,
   #search-icon-1920 {
      display: none;
   }
   .header-top-blue {
      width: 100%;
      padding: 0 20px;
   }
   .number-h-y-container {
      margin-left: auto;
   }
   b .year-time-button {
      margin: 0 20px;
      width: 360px;
   }

   .text-area-first-section-1920 {
      width: 100%;
   }
   .nav-shop ul {
      width: none;
   }
}

@media (max-width: 1400px) {
   .text-area-first-section-1920 h1 {
      font-size: 60px;
   }
   .app-banner {
      width: 100%;
   }
   .last-text-first-section {
      font-size: 18px;
      padding: 0 20px;
      width: 440px;
   }
   .main-content-item {
      padding: 20px;
   }
   .photo-item-i-p {
      width: calc(100vw - 68%);
   }
   .main-info-info-page {
      position: relative;
   }
   .right-section-info-page {
      width: 60%;
   }
   #wide-card-on-chill-kids-copy {
      width: 568px;
      font-size: 28px;
   }
   #wide-card-on-chill-kids-copy p {
      font-size: 14px;
   }
   .kids-chill div {
      width: 176px;
   }
   .kids-chill div:nth-last-child(-n + 1) {
      display: none;
   }
}

@media (max-width: 1299px) {
   .gray-line-fake,
   .second-line-header,
   .blue-line-fake {
      display: none;
   }
   header {
      height: unset;
   }
}

@media (max-width: 1299px) {
   .six-cards-container {
      width: calc(100vw - 20px);
      overflow: auto;
   }
   .six-cards-container::-webkit-scrollbar {
      display: none;
   }
   .shadow-section-5 {
      right: calc((100vw - 806px) / 2);
   }
}
@media (max-width: 1230px) {
   .shop-take-rent > div:nth-last-child(-n + 2) {
      display: none;
   }

   .img-circle img {
      /* width: 100%; */
      max-width: 225px;
   }
   .row-footer-2,
   .row-footer-1 {
      width: 25%;
   }
}
@media (max-width: 986px) {
   .shop-take-rent > div:nth-last-child(-n + 4) {
      display: none;
   }
}

@media (min-width: 1341px) {
   .apps-links-footer- {
      display: none;
   }
}

@media (max-width: 1340px) {
   .footer-line {
      width: 95vw;
   }
   .second-line-header,
   .gray-line-fake {
      display: none;
   }
   .heaer-fake-fullscreen,
   header {
      height: unset;
   }
   .blue-n-c-4 {
      width: max-content;
      display: flex;
      align-items: center;
   }

   footer {
      padding: 68px 20px 1px 20px;
   }
   .columns-footer {
      display: flex;
      flex-wrap: wrap;
      width: calc(100vw - 40px);
      margin: 58px auto 60px;
      justify-content: space-between;
      row-gap: 40px;
   }
   .last-photo {
      background-image: url(../assets/content/img2\(1\).png);
      background-repeat: no-repeat;
      /* width: calc(100vw - 50px); */
      /* height: 100%; */
      border-radius: 20px;
      background-position: center;
   }

   .info-area-six-section {
      width: 100vw;
   }

   .hand-mask-app-banner {
      width: calc((100vw - 40px));
      margin: 0 20px 80px;
   }
   .app-banner {
      width: 100%;
   }

   .app-banner {
      display: flex;
      flex-direction: column;
      height: max-content;
   }
   .apps-links-app-cart {
      margin-left: 0;
   }

   #iphone-screen {
      right: 216px;
   }
   #hand-iphone {
      right: 35px;
   }
   #koleso {
      right: 0;
   }
   #krug {
      right: 0;
   }
   .kids-chill {
      justify-content: space-evenly;
      padding: 0 15px;
   }
   .images-swipe-four,
   .container-for-6-btn {
      display: none;
   }
   .emotion-card {
      padding: 20px;
      width: 308px;
   }
   .btn-hide {
      display: block !important;
   }
}

@media (min-width: 900px) {
   .more-900-hide {
      display: none;
   }
}
@media (max-width: 1185px) {
   .kids-chill div:nth-last-child(-n + 3) {
      display: none;
   }
}
@media (max-width: 1000px) {
   .text-area-first-section-1920 h1 {
      font-size: 48px;
   }
   .absolute-on-map-home-page-text-comtainer h3 {
      font-size: 40px;
   }
   .photo-item-i-p {
      width: 36%;
   }
   .right-section-info-page {
      width: 56%;
   }
   .main-info-info-page {
      flex-direction: column;
   }
   .photo-item-i-p {
      width: unset;
   }
   .right-section-info-page {
      width: unset;
   }
   .photo-item-i-p {
      aspect-ratio: 728/400;
   }
   .cards-rope-park-2 {
      display: none;
   }
}

@media (max-width: 900px) {
   .text-area-first-section-1920 h1 {
      font-size: 40px;
   }
   .number-header-yellow {
      display: none;
   }
   .shop-take-rent {
      max-height: 910px;
      overflow: auto;
   }
   h1 {
      font-size: 42px;
   }
   .t-o-s {
      font-size: 34px;
      width: fit-content;
   }
   .o-t-s-all {
      box-shadow: 0px -30px 0px 0px rgba(232, 234, 251, 1) inset;
      -webkit-box-shadow: 0px -30px 0px 0px rgba(232, 234, 251, 1) inset;
      -moz-box-shadow: 0px -30px 0px 0px rgba(232, 234, 251, 1) inset;
   }

   .opacity-text-section-white {
      -webkit-text-stroke: 1px white;
   }

   .s-s-shadow {
      display: none;
   }

   .switch {
      position: relative;
      display: inline-block;
      width: 95px;
      height: 44px;
   }

   .switch input {
      display: none;
   }

   .slider {
      position: relative;
      display: flex;
      align-items: center;
      height: 44px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
   }

   .slider:before {
      position: absolute;
      content: "";
      height: 40px;
      width: 40px;
      bottom: 2px;
      left: 3px;
      background-color: #ffdd64;
      -webkit-transition: 0.4s;
      transition: 0.4s;
   }

   input:checked + .slider.round:before {
      background-color: #5567ea;
   }

   input:focus + .slider.round:before {
      box-shadow: 0 0 1px #5567ea;
   }

   input:checked + .slider:before {
      -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
      transform: translateX(50px);
   }
   .time-of-year-text {
      display: none;
   }
   #sun-header-button {
      width: 24px;
      height: 24px;
      margin-left: 11px;
   }
   #snow-header-button {
      width: 24px;
      height: 24px;
      margin: 0 3px 0 26px;
   }
   #sun-header-button-2 {
      width: 24px;
      height: 24px;
      margin-left: 11px;
   }
   #snow-header-button-2 {
      margin-left: 24px;
   }
   .year-time-button {
      height: 44px;
   }
   .opacity-text-section {
      -webkit-text-stroke: 1px black;
   }
   #iphone-screen {
      right: 21px;
      /* top: 7px; */
      scale: 0.7;
      bottom: -30px;
   }
   #hand-iphone {
      right: -138px;
      scale: 0.7;
      bottom: -260px;
      width: 390px;
   }
   #koleso {
      right: -278px;
      bottom: -44px;

      scale: 0.8;
   }
   #krug {
      right: -280px;
      bottom: -44px;
      scale: 0.8;
   }
   .app-banner {
      height: 219px;
      padding: 20px;
   }
   .hand-mask-app-banner {
      height: 295px;
      margin-bottom: 135px;
   }
   .kids-chill {
      padding: 0 20px;
   }

   #wide-card-on-chill-kids {
      width: calc(92% + 20px);
   }
   .less-900-hide {
      display: none;
   }
   .cards-rope-park-2 div img {
      width: 350px;
      height: 430px;
   }
   .cards-rope-park-2 {
      gap: 20px;
      overflow: auto;
   }
   .i-b-el-1 {
      order: 1;
   }

   .i-b-el-2 {
      order: 2;
   }
   .i-b-el-3 {
      order: 4;
   }

   .i-b-el-4 {
      order: 3;
   }
   .i-b-el-5 {
      order: 5;
   }

   .i-b-el-6 {
      order: 6;
   }
   .i-b-el-7 {
      order: 7;
   }

   .i-b-el-8 {
      order: 8;
      display: none;
   }

   .slider-five-section-5 {
      gap: 5px;
      row-gap: 20px;
   }
   .slider-five-section-5 div {
      width: 47%;
   }
   #card-reserve {
      width: calc(94% + 20px);
   }

   .input-zone-news-p-cont {
      width: 60%;
   }
   .i-n-p-c-name,
   .i-n-p-c-email {
      width: 47%;
   }

   .news-second-page-main-container {
      flex-direction: column;
   }
   .asside-area-news-1-cards {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: fit-content;
   }
   .overflow-x-auto-container {
      overflow-x: auto;
   }
   .social-left-block-news-2-page {
      display: none;
   }
   .news-1-center-block-info {
      max-width: unset;
      width: unset;
   }
   .full-text-news-1-area {
      max-width: unset;
   }
   .main-photo-of-news-1-page {
      width: 100%;
      height: unset;
      aspect-ratio: 2/1;
      background-position: center;
      background-size: cover;
   }
   .asside-area-news-1-cards > div:nth-last-child(-n + 5) {
      display: block;
   }
   .columns-footer {
      justify-content: space-between;
   }
}

@media (max-width: 976px) {
   .apps-links-footer- {
      order: 1;
      margin: 0 auto;
   }
}
@media (max-width: 800px) {
   .up-to-768px-hidden-text-home-page {
      display: unset;
   }

   .blue-n-c-3 {
      display: none;
   }
   .show-more-6-section-btn {
      width: calc(100vw - 40px);
   }
   .img-circle img {
      width: 167px;
   }
   .yellow-block {
      border-radius: 0 110px 0 0;
      padding: 12px 30px 20px 20px;
      font-size: 18px;
      color: black;
      width: 43%;
      height: 167px;
      font-weight: 400;
   }
   .last-photo {
      width: 30%;
      background-size: cover;
      height: unset;
   }

   .blue-n-c-4 {
      order: 10;
   }
   .show-more-6-section-btn {
      display: none;
   }
   .text-blocks-6-s {
      flex-direction: column;
      padding: 0 20px;
   }
   .text-blocks-6-s > div:nth-child(1),
   .text-blocks-6-s > div {
      width: 100%;
   }

   .three-elemrnts-container-home-page-blue-block {
      padding: 0;
   }
   .blue-n-c-2 > p:nth-last-child(1) {
      display: none;
   }
   #wide-card-on-chill-kids-copy {
      width: 540px;
   }
   .kids-chill div {
      width: 167px;
   }
   .kids-chill div:nth-last-child(-n + 5) {
      display: none;
   }
}

@media (min-width: 801px) {
   .up-to-768px-hidden-text-home-page {
      display: none;
   }
   .show-more-6-section-btn-2 {
      display: none;
   }
}

@media (max-width: 700px) {
   .seven-section {
      padding: 10px;
   }
   .img-circle {
      width: 232px;
   }
   .img-circle img {
      width: 232px;
   }
   .yellow-block {
      display: none;
   }
   .images-footer {
      width: 90vw;
   }
   .apps-links-footer-1 {
      display: none !important;
   }
   .apps-links-footer-2 {
      display: block;
      width: 600px;
      margin-top: 34px;
   }
   .three-elemrnts-container-home-page-blue-block {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
      display: flex;
      /* grid-template-columns: 1fr 1fr; */
      gap: 20px;
      width: 160%;
   }
   .go-to-all-chill-btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 80px;
   }
   .kids-chill {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
   }
   .kids-chill::-webkit-scrollbar {
      display: none;
   }
   .third-section {
      display: block;
   }

   .bacground-image-main-page-first-section {
      height: 800px;
   }
   .absolute-peoples-container-f-s div {
      width: 47%;
   }
   .absolute-peoples-container-f-s {
      top: 50px;
      bottom: unset;
   }
   .to-choice-btn {
      margin: 30px auto 40px;
   }

   .bacground-image-main-page-first-section {
      justify-content: flex-end;
   }
   .text-area-first-section-1920 h1 {
      font-size: 35px;
   }
   .to-choice-btn {
      width: calc(100vw - 40px);
   }
   .card-of-product {
      width: 210px;
   }
   .prise-of-rent-1 {
      padding-right: 5px;
   }
   .map-map-s1 {
      display: none;
   }
   .map-area-first-section {
      border-radius: 0;
      width: 100vw;
      height: 500px;
      border-radius: 0;
      background-image: url(../assets/content/map1.png);
      background-size: cover;
      background-position: center;
   }

   .number-headr-yellow {
      display: none;
   }
   .icun-list-h li:not(:last-child) {
      display: none;
   }

   .header-top-blue {
      align-items: bottom;
   }
   .last-photo {
      width: 100%;
   }

   h1 {
      font-size: 26px;
   }
   .profile-icon-header ul {
      margin: 0 20px 0 0px;
   }

   .hand-mask-app-banner {
      height: 310px;
   }
   .app-banner {
      display: grid;
      align-items: center;
      padding: 20px 0;
      margin: 0;
      width: 100vw;
   }
   .hand-mask-app-banner {
      width: 100vw;
      margin: 0;
      margin-bottom: 80px;
   }
   .apps-links-app-cart {
      width: 100%;
      justify-content: start;
      margin-left: 20px;
      z-index: 5;
      margin-top: 0;
   }
   .discription-app-cart {
      width: max-content;
      margin: 8px 0 15px 20px;
      font-size: 18px;
      z-index: 5;
   }
   #iphone-screen {
      right: -51px;
      transform: rotate(-5deg);
      scale: 0.54;
      bottom: 36px;
   }
   #hand-iphone {
      right: -200px;
      transform: rotate(-20deg);
      bottom: -170px;
      scale: 0.55;
   }
   .main-text-app-cart {
      font-size: 28px;
      margin: 0 auto 0 20px;
      z-index: 5;
   }
   .main-text-app-cart span {
      font-size: 34px;
   }

   .t-o-s {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 0px;
   }
   #wide-card-on-chill-kids {
      font-size: 24px;
   }
   .emotion-card {
      height: 340px;
      width: 90%;
   }
   .cards-rope-park-2 {
      width: 90%;
      border-radius: 20px;
      margin: auto;
      justify-content: flex-start;
   }
   .slider-five-section-5 {
      display: none;
   }
   .text-5-s-2 {
      width: 90%;
      margin: 20px auto;
   }
   .gold-balls-img {
      scale: 0.6;
      right: -93px;
      bottom: -64px;
      z-index: 1;
   }
   #card-reserve button {
      position: relative;
      z-index: 3;
   }
   #card-reserve {
      width: 90%;
      margin: 20px auto;
      align-items: center;
      display: grid;
   }
   #card-reserve p {
      font-size: 24px;
   }
   #card-reserve span {
      font-size: 18px;
   }
   .find-out-more-btn {
      width: 90%;
   }
   .less700hide {
      display: none;
   }

   .text-blocks-6-s {
      font-size: 16px;
   }

   .blue-n-c-4 {
      position: unset;
      margin: 20px auto;
      padding: 0;
      height: auto;
      width: 90%;
   }
   .show-more-6-section-btn {
      margin: 0;
      width: 100%;
   }
   .blue-n-c-4 {
      display: none;
   }
   .roll-park-list-visible {
      margin: 30px 0 40px;
   }
   .title-of-section-7 {
      display: flex;
      flex-direction: column;
      gap: 0;
   }
   .green-samokat {
      width: 85vw;
      background-position: right;
   }
   .row-footer-1,
   .row-footer-2 {
      width: 40vw;
   }
   .apps-links-footer- {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
   .apps-links-footer- img {
      width: 45%;
   }

   .shop-take-rent {
      max-height: unset;
   }

   .price-cards-i-p {
      flex-direction: column;
   }
   .main-content-item h1 {
      display: unset;
   }
   .title-of-section-item-page.text-gradient {
      display: none;
   }
   .main-info-info-page {
      gap: 30px;
   }
   .item-page-map-block {
      margin: 0;
      height: 150px;
      border-radius: 20px;
      margin-top: 30px;
   }
   .i-p-d {
      padding: 15px 20px;
   }
   .last-section-area-i-p {
      margin-top: 30px;
   }
   .left-arrow-i-p,
   .right-arrow-i-p {
      display: none;
   }
   .last-section-area-i-p {
      padding: 0 20px;
   }
   .last-section-of-i-p {
      gap: 0;
   }
   .second-title-item-page {
      font-size: 32px;
   }

   .input-zone-news-p-cont,
   .sick-cart-news {
      width: 100%;
   }
   .sick-cart-news > img {
      width: 100%;
   }
   .i-n-p-c-name,
   .i-n-p-c-email,
   .send-btn-news-sub {
      width: 100%;
   }
   .convert-img-news-sub,
   .convert-img-call-back-sub {
      display: none;
   }

   .subscribe-for-our-news-container {
      padding: 30px 20px;
      margin: 40px 0 0;
   }
   .main-content-news-page {
      margin: 0;
   }
   .asside-area-news-1-cards {
      flex-direction: row-reverse;
   }
   .call-back-form-container {
      margin-bottom: 0;
   }
   .images-footer > img {
      width: 102px;
   }
   .social-circles-footer-index {
      margin-right: 20%;
      display: flex;
   }
   .social-media-footer {
      display: none;
   }
   #wide-card-on-chill-kids-copy {
      display: none;
   }
   .kids-chill div:nth-last-child(-n + 5) {
      display: block;
   }
}

@media (min-width: 701px) {
   .list-under-700 {
      display: none;
   }
   #shopping-cart-icon-header {
      display: none;
   }
   .slider-five-section-5-mobile {
      display: none;
   }
   .social-circles-footer-index {
      display: none !important;
   }
   #wide-card-on-chill-kids {
      display: none;
   }
}
@media (max-width: 742px) {
   .shop-take-rent > div:nth-last-child(-n + 6) {
      display: none;
   }
}

@media (max-width: 470px) {
   .map-area-first-section {
      margin-top: 50px;
   }
   .bacground-image-main-page-first-section {
      height: 620px;
   }
   footer {
      padding: 60px 10px 10px 10px;
   }
   .payments-metod {
      width: 100%;
      justify-content: space-between;
      padding: 0 10px;
   }
   .see-all-usefull-mat-btn {
      display: flex;
      width: unset;
      padding: 10px 24px 12px 24px;
      justify-content: center;
      align-items: center;
      scale: 1;
   }
   .last-text-first-section {
      width: 90%;
   }
   .title-of-section-gradient,
   .title-of-section-3 {
      font-size: 32px;
      width: 90%;
   }
   .title-of-section-gradient-yellow {
      font-size: 32px;
   }
   .absolute-on-map-home-page-text-comtainer h3 {
      font-size: 24px;
   }
   .text-area-first-section-1920 h1 {
      font-size: 24px;
   }
   .yellow-block {
      font-size: 14px;
      height: max-content;
   }
   .show-more-6-section-btn {
      font-size: 16px;
   }
   .blue-n-c-2 {
      font-size: 14px;
   }
   .reserve-button-less-470px {
      display: none;
   }
   #card-reserve button {
      font-size: 15px;
   }

   #card-reserve p {
      font-size: 22px;
   }
   #card-reserve span {
      font-size: 14px;
   }
   #hand-iphone {
      right: -155px;
   }
   #iphone-screen {
      right: -6px;
   }
   .opacity-text-section-5 {
      font-size: 26px;
   }
   .black-text-section {
      font-size: 26px;
   }
   .five-section p {
      font-size: 18px;
   }
   .t-o-s {
      font-size: 26px;
   }
   .kids-chill div {
      padding: 20px 0;
   }
   #wide-card-on-chill-kids {
      font-size: 20px;
   }
   #wide-card-on-chill-kids p {
      font-size: 15px;
   }
   .title-of-section-3 {
      display: flex;
      flex-direction: column;
   }
   .main-text-app-cart {
      font-size: 24px;
      width: 60%;
   }
   .main-text-app-cart span {
      font-size: 24px;
   }
   .discription-app-cart {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      z-index: 5;
   }
   .discription-app-cart div {
      width: 100px;
      height: 25px;
      z-index: 5;
   }
   .apps-links-app-cart {
      display: flex;
      flex-wrap: wrap;
   }
   .app-banner {
      height: max-content;
   }
   .hand-mask-app-banner {
      height: 350px;
   }

   .icun-list-h li:nth-child(4),
   .icun-list-h li:nth-child(5) {
      display: none;
   }
   /* .row-footer-2 {
      width: 60%;
   } */

   .logo-header img {
      scale: 0.73;
   }
   .logo-header {
      top: 20px;
      display: flex;
   }
   .under-bike {
      width: 140px;
   }
   .h1-news-1-page {
      font-size: 26px;
   }
   .social-circles-footer-index {
      margin-right: 10%;
   }
}

@media (max-width: 459px) {
   .child-game-card-cataloc-child-page {
      width: 100%;
   }
   .title-of-section-news-page h1 {
      font-size: 36px;
   }
}
@media (max-width: 365px) {
   .see-all-usefull-mat-btn {
      scale: 0.7;
   }
}
